<div class="container">
  <h2>Gestión de Usuarios</h2>
  <a routerLink="/usuarios/crear" class="btn btn-primary mb-3">
    + Crear nuevo usuario</a
  >

  <table mat-table class="mat-elevation-z8 full-width">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Perfil</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.perfil }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.direccion }}</td>
        <td>
          <div class="responsive-button-group">
            <button
              (click)="editarUsuario(usuario.id)"
              class="btn btn-sm btn-warning me-2"
            >
              Editar
            </button>
            <button
              (click)="eliminarUsuario(usuario.id)"
              class="btn btn-sm btn-danger"
            >
              Eliminar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
