<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    #drawer
    mode="side"
    class="sidenav"
    fixedInViewport
    [opened]="isLargeScreen"
  >
    <app-navbar [sidenav]="drawer"></app-navbar>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary" class="main-toolbar">
      <button
        *ngIf="!isLargeScreen && isLoggedIn"
        type="button"
        mat-icon-button
        class="toggle-button"
        aria-label="Abrir menú"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span>Gestión de Asistentes</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
