.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
}

.main-content {
  padding: 20px;
}

.toggle-button {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding-right: 20px;
  color: #2a3494;
  font-size: 2.0rem;
}



