<mat-nav-list class="navbar-container">
  <div class="user-info" *ngIf="isLoggedIn">
    <span class="user-name">{{ usuarioNombre ?? 'Invitado' }}</span>
  </div>

  <a
    *ngIf="isLoggedIn"
    mat-list-item
    routerLinkActive="active"
    (click)="navegarYcerrar('/alumnos')"
  >
    Alumnos
  </a>

  <a
    *ngIf="isLoggedIn"
    mat-list-item
    routerLinkActive="active"
    (click)="navegarYcerrar('/cursos')"
  >
    Cursos
  </a>

  <a
    *ngIf="isLoggedIn"
    mat-list-item
    routerLinkActive="active"
    (click)="navegarYcerrar('/inscripciones')"
  >
    Inscripciones
  </a>

  <a
    *ngIf="isLoggedIn && role === 'admin'"
    mat-list-item
    routerLinkActive="active"
    (click)="navegarYcerrar('/usuarios')"
  >
    Usuarios
  </a>

  <div class="logout-section" *ngIf="isLoggedIn">
    <button mat-raised-button color="warn" (click)="logout()">
      Cerrar sesión
    </button>
  </div>
</mat-nav-list>
